body {
    margin: 0;
    font-family: Futura;
    font-size: 100%;
    background-color: #471a60;
}
.dashboard {
    display: grid;
    grid-template-areas: 
        "header header"
        "sidebar content"
        "footer footer";
    grid-template-columns: 250px 1fr;
    grid-template-rows: auto 1fr auto;
    height: 100vh;
}
.header {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    grid-area: header;
    color: rgb(255, 255, 255); 
    background-color: #e00202;
    text-align: center;
    padding: 10px;
    position: relative;
    background-image: url(Assets/efrideet.jpg);
    background-position: center;
    background-size: cover;
    background-repeat:no-repeat;
}
.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1; /* Ensures the overlay is above the background but below the content */
}
.content {
    position: relative;
    z-index: 2; /* Ensures content appears above the overlay */
    color: rgb(255, 255, 255); /* Keeps the text readable */
}
.sidebar {
    grid-area: sidebar;
    background-color: #444;
    color: rgb(216, 17, 17);
    padding: 1rem;
}

.sidebar nav ul {
    list-style: none;
    padding: 1rem;
}
.sidebar nav ul li {
    margin: 1rem 0;
}
.sidebar nav ul li a {
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: color 0.3s;
}
.sidebar nav ul li a:hover {
    color: #00bcd4;
}
.content {
    grid-area: content;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    grid-gap: 1rem;
    justify-content: center;
}
.card {
    font-family: Futura;
    font-weight:bold;
    text-align: center;
    font-size:1rem;
    color:#000000;
    justify-content: center;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 4px 6px;
    padding: 20px;
    padding-left:0;
    padding-right:0;
    align-items: center;
    border-radius: 10px;
    transition: background 0.3s ease, color 0.3s ease, transform 0.3s ease;
    text-decoration: none;
}
.card:hover {
    background: #000000;
    color: white;
    transform: scale(1.10);
}.footer {
    grid-area: footer;
    background-color: #000000;
    color: inherit;
    text-align: center;
    padding: 1rem;
    text-decoration: none;
    pointer-events: none;
    cursor: default;
}.footer a{
    color:#ffffff;
    text-decoration: none;
    font-weight: bold;
    font-size: 1rem;
}
